[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  last = cat-file commit HEAD
  pushom = push origin master
  pullom = pull origin master
[color]
  ui = true
[user]
	name = 
	email = 
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
[github]
	user = 
  token = 
[merge]
	keepBackup = false;
	tool = p4merge
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[diff]
	external = p4diff

