.vim/after/
.vim/autoload/rails.vim
.vim/autoload/snipMate.vim
.vim/autoload/tabular.vim
.vim/colors/
.vim/compiler/
.vim/doc/
.vim/extras/
.vim/ftdetect/
.vim/ftplugin/
.vim/indent/
.vim/nerdtree/
.vim/nerdtree_plugin/
.vim/plugin/
.vim/snipmate.vim/
.vim/snippets/
.vim/syntax/
.vim/tabular/
.vim/tmp/
