[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  last = cat-file commit HEAD
[color]
  ui = true
[user]
	name = Michael Joseph Kramer
	email = michael.kramer@live.com
[core]
	editor = /usr/bin/vim
