[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  last = cat-file commit HEAD
  pushom = push origin master
  pullom = pull origin master
[color]
  ui = true
[user]
	name = 
	email = 
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
[github]
	user = 
  token = 

